
<!DOCTYPE html>
<html lang="zh">
<head>
  <script src="https://moxuetianya.github.io/js/theme.min.js"></script>
  <link rel="stylesheet" href="https://moxuetianya.github.io/abridge.css?h=11008b611808be942688" />
  <link rel="stylesheet" href="https://moxuetianya.github.io/extra.css?h=c4e7981c56f052b93039" />
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="base" content="https://moxuetianya.github.io" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <link rel="alternate" type="application/atom+xml" title="墨雪天琊 Atom Feed" href="https://moxuetianya.github.io/atom.xml" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <title>Docker格式化输出命令:"docker inspect --format" 学习笔记 | 墨雪天琊</title>
  <meta name="copyright" content="墨雪天琊" />
  <meta name="description" content="Docker --format 参数提供了基于 Go模板 的日志格式化输出辅助功能，并提供了一些内置的增强函数。" />
  <link rel="canonical" href="https://moxuetianya.github.io/obsidian/docker格式化输出命令-docker-inspect-format-学习笔记/" />
  <meta property="og:url" content="https://moxuetianya.github.io/obsidian/docker格式化输出命令-docker-inspect-format-学习笔记/" />
  <meta name="twitter:url" content="https://moxuetianya.github.io/obsidian/docker格式化输出命令-docker-inspect-format-学习笔记/" />
  <meta property="og:description" content="Docker --format 参数提供了基于 Go模板 的日志格式化输出辅助功能，并提供了一些内置的增强函数。" />
  <meta name="twitter:description" content="Docker --format 参数提供了基于 Go模板 的日志格式化输出辅助功能，并提供了一些内置的增强函数。" />
  <meta property="og:title" content="Docker格式化输出命令:&quot;docker inspect --format&quot; 学习笔记 | 墨雪天琊" />
  <meta name="twitter:title" content="Docker格式化输出命令:&quot;docker inspect --format&quot; 学习笔记 | 墨雪天琊" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:site_name" content="墨雪天琊" />
  <meta property="og:locale" content="zh_CN" />
  <meta property="og:type" content="website" />
  <meta property="og:updated_time" content="2024-11-11" />
  <script defer src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
  <script defer src="https://moxuetianya.github.io/js/theme_button.js?h=12a31e87fcbe7a55e953"></script>
  <script defer src="https://moxuetianya.github.io/js/email.js?h=ee3dd742e11c5014fdef"></script>
  <script defer src="https://moxuetianya.github.io/js/codecopy.js?h=0a54f99e682443925d3a"></script>
  <script defer src="https://moxuetianya.github.io/js/elasticlunr.min.js?h=4f648b9e42abdef9c436"></script>
  <script defer src="https://moxuetianya.github.io/search_index.en.js?h=ba1f960deb09191afaf3"></script>
  <script defer src="https://moxuetianya.github.io/js/searchjava.js?h=afc943710b713d57871a"></script>
  <noscript><link rel="stylesheet" href="https://moxuetianya.github.io/nojs.css" /></noscript>
</head>
<body>
  <header>
    <nav>
      <div><big><a href="https://moxuetianya.github.io" title="墨雪天琊">墨雪天琊</a></big></div>
      <div>

        <div>
          <ul><li><a class="s110" href="https://moxuetianya.github.io/"> 首页 </a></li><li><a class="s110" href="https://moxuetianya.github.io/archive/"> 归档 </a></li><li><a class="s110" href="https://moxuetianya.github.io/updated/"> 最近更新 </a></li><li><a class="s110" href="https://moxuetianya.github.io/tags/"> 标签 </a></li><li><a class="s110" href="https://moxuetianya.github.io/search/"> 搜索 </a></li><li><a class="s110" href="https://moxuetianya.github.io/obsidian/"> 摘录 </a></li><li><i type="reset" id="mode" class="js svgs adjust"></i></ul>
        </div>

        <div>
          <div>
            <form autocomplete=off class="js" name="goSearch" id="searchbox">
              <div class="searchd">
                <input id="searchinput" type="text" placeholder="搜索" title="Search" />
                <button type="submit" title="Search" class="svgs svgm search"></button>
              </div>
              <div class="results"><div id="suggestions"></div></div>
            </form>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <main>
    <article>
      <h1><a href="https://moxuetianya.github.io/obsidian/docker格式化输出命令-docker-inspect-format-学习笔记/">Docker格式化输出命令:"docker inspect --format" 学习笔记</a></h1>

      <span class="s95"> <span class="rpad"></span> 十一月 11, 2024 <span class="rpad"></span> [<a href="https://moxuetianya.github.io/categories/xu-ni-hua-yu-rong-qi/">虚拟化与容器</a>] #<a href="https://moxuetianya.github.io/tags/obsidian/">obsidian</a>  #<a href="https://moxuetianya.github.io/tags/rong-qi/">容器</a> </span>

    


<h1 id="dockerge-shi-hua-shu-chu-ming-ling-docker-inspect-format-xue-xi-bi-ji">Docker格式化输出命令:"docker inspect --format" 学习笔记</h1>
<p>Docker --format 参数提供了基于 Go模板 的日志格式化输出辅助功能，并提供了一些内置的增强函数。</p>
<p><img src="/obsidian/assets/docker-inspect-format/docker-go-template-mvc.png" alt="" /></p>
<p><strong>什么是模板?</strong>
上图是大家熟悉的 <strong>MVC 框架</strong>（Model View Controller）：<strong>Model</strong>（模型，通常在服务端）用于处理数据、<strong>View</strong>（视图，客户端代码）用于展现结果、<strong>Controller</strong>（控制器）用于控制数据流，确保 M 和 V 的同步，即一旦 M 改变，V 也应该同步更新。
而对于 View 端的处理，在很多动态语言中是通过在静态 HTML 代码中插入动态数据来实现的。例如 JSP 的 &lt;%=....=%&gt; 和 PHP 的 &lt;?php.....?&gt; 语法。
由于最终展示给用户的信息大部分是静态不变的，只有少部分数据会根据用户的不同而动态生成。比如，对于 docker ls 的输出信息会根据附加参数的不同而不同，但其表头信息是固定的。所以，将静态信息固化为模板可以复用代码，提高展示效率。</p>
<p>Go语言提供了简单灵活的模板支持，而基于 Go 开发的 Docker 继承了该强大能力，使其可以脱离 Shell 的相关操作，直接对结果进行格式化输出。所有支持 --format 扩展的 Docker CLI 指令均支持该操作。</p>
<p><strong>Go模板常用语法</strong>
注释
格式：  {{/*注释内容*/}}
示例：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker network inspect --format=&#x27;{{&#x2F;*查看容器的默认网关*&#x2F;}}{{range .IPAM.Config}}{{.Gateway}}{{end}}&#x27; $INSTANCE_ID
</code></pre>
<p><strong>变量</strong>
<strong>系统变量 {{.}}</strong>
点号表示当前对象及上下文，和 Java、C++ 中的 this 类似。可以直接通过{{.}}获取当前对象。
另外，如果返回结果也是一个 Struct 对象（Json 中以花括号/大括号包含），则可以直接通过点号级联调用，获取子对象的指定属性值。</p>
<p>示例代码：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">#可以通过级联调用直接读取子对象 State 的 Status 属性，以获取容器的状态信息：
docker inspect --format &#x27;{{&#x2F;*读取容器状态*&#x2F;}}{{.State.Status}}&#x27; $INSTANCE_ID
</code></pre>
<p>注意： 如果需要获取的属性名称包含点号（比如下列示例数据）或者以数字开头，则不能直接通过级联调用获取信息。因为属性名称中的点号会被解析成级联信息，进而导致返回错误结果。即便使用引号将其包含也会提示语法格式错误。此时，需要通过 index 来读取指定属性信息。</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">&quot;Options&quot;: {
            &quot;com.docker.network.bridge.default_bridge&quot;: &quot;true&quot;,
            &quot;com.docker.network.bridge.enable_icc&quot;: &quot;true&quot;,
            &quot;com.docker.network.bridge.enable_ip_masquerade&quot;: &quot;true&quot;,
            &quot;com.docker.network.bridge.host_binding_ipv4&quot;: &quot;0.0.0.0&quot;,
            &quot;com.docker.network.bridge.name&quot;: &quot;docker0&quot;,
            &quot;com.docker.network.driver.mtu&quot;: &quot;1500&quot;
        },
</code></pre>
<p>示例操作：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 直接级联调用会提示找不到数据：
docker inspect --format &#x27;{{.Options.com.docker.network.driver.mtu}}&#x27; bridge
&lt;no value&gt;
# 用引号括起来会提示语法错误：
docker inspect --format &#x27;{{.Options.&quot;com.docker.network.driver.mtu&quot;}}&#x27; bridge
Template parsing error: template: :1: bad character U+0022 &#x27;&quot;&#x27;
# 正确的用法，必须用 index 读取指定属性名称的属性值：
docker inspect --format &#x27;{{&#x2F;*读取网络在hosts上的名称*&#x2F;}}{{index .Options &quot;com.docker.network.bridge.name&quot;}}&#x27; bridge
docker0
</code></pre>
<p><strong>自定义变量</strong>
可以在处理过程中设置自定义变量，然后结合自定义变量做更复杂的处理。 如果自定义变量的返回值是对象，则可以通过点号进一步级联访问其属性。比如 {{$Myvar.Field1}}。</p>
<p>示例操作：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 结合变量的使用，对输出结果进行组装展现，以输出容器的所有绑定端口列表：
docker inspect --format &#x27;{{&#x2F;*通过变量组合展示容器绑定端口列表*&#x2F;}}已绑定端口列表：{{println}}{{range $p,$conf := .NetworkSettings.Ports}}{{$p}} -&gt; {{(index $conf 0).HostPort}}{{println}}{{end}}&#x27; Web_web_1
# 示例输出信息
已绑定端口列表：
80&#x2F;tcp -&gt; 32770
8081&#x2F;tcp -&gt; 8081
</code></pre>
<p><strong>遍历（循环）：range</strong>
格式：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">{{range pipeline}}{{.}}{{end}}
{{range pipeline}}{{.}}{{else}}{{.}}{{end}}
</code></pre>
<p>range 用于遍历结构内返回值的所有数据。支持的类型包括 array, slice, map 和 channel。使用要点：</p>
<ul>
<li>对应的值长度为 0 时，range 不会执行。</li>
<li>结构内部如要使用外部的变量，需要在前面加 引用，比如Var2。</li>
<li>range 也支持 else 操作。效果是：当返回值为空或长度为 0 时执行 else 内的内容。</li>
</ul>
<p>示例操作：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 查看容器网络下已挂载的所有容器名称，如果没有挂载任何容器，则输出 &quot;With No Containers&quot;
docker inspect --format &#x27;{{range .Containers}}{{.Name}}{{println}}{{else}}With No Containers{{end}}&#x27; bridge
brtest
peaceful_brown
test
docker inspect --format &#x27;{{range .Containers}}{{.Name}}{{println}}{{else}}With No Containers{{end}}&#x27; none
With No Containers
</code></pre>
<p><strong>索引： index</strong>
如果返回结果是一个 map, slice, array 或 string，则可以使用 index 加索引序号（从零开始计数）来读取属性值。</p>
<p>示例代码:</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># docker inspect $INSTANCE_ID 查看容器绑定的端口信息，其 Config 属性就是一个 Map，包含了所有子网信息。
...
 &quot;IPAM&quot;: {
            &quot;Driver&quot;: &quot;default&quot;,
            &quot;Options&quot;: null,
            &quot;Config&quot;: [
                {
                    &quot;Subnet&quot;: &quot;172.31.254.1&#x2F;24&quot;,
                    &quot;Gateway&quot;: &quot;172.31.254.1&quot;
                }
            ]
        },
...
</code></pre>
<p>示例操作：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 通过索引序号读取默认网关
docker inspect bridge --format &#x27;{{&#x2F;*查看网络的默认网关*&#x2F;}}{{(index .IPAM.Config 0).Gateway}}&#x27;
</code></pre>
<p><strong>判断：if … else … end</strong>
基本判断</p>
<ol>
<li><strong>not</strong>
返回单一参数的布尔否定值，即返回输入参数的否定值。</li>
</ol>
<p>示例:</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 如果容器的 restarting 设置为 false，则返回信息“容器没有配置重启策略”
docker inspect --format &#x27;{{if not .State.Restarting}}容器没有配置重启策略{{end}}&#x27; $(docker ps -q)
</code></pre>
<ol start="2">
<li><strong>or</strong></li>
</ol>
<ul>
<li>{{or x y}}: 表示如果 x 为真返回 x，否则返回 y。</li>
<li>{{or x y z}}：后面跟多个参数时会逐一判断每个参数，并返回第一个非空的参数。如果都为 false，则返回最后一个参数。</li>
<li>除了 null（空）和 false 被识别为 false，其它值（字符串、数字、对象等）均被识别为 true。</li>
</ul>
<p>示例:</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &#x27;{{or .State.Status .State.Restarting}}&#x27; $INSTANCE_ID
</code></pre>
<p><strong>判断条件</strong>
判断语句通常需要结合判断条件一起使用，使用格式基本相同：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">{{if 判断条件 .Var1 .Var2}}{{end}}
</code></pre>
<p><strong>go模板支持如下判断方式：</strong></p>
<ol>
<li>eq: 相等，即 arg1 == arg2。比较特殊的是，它支持多个参数进行与比较，此时，它会将第一个参数和其余参数依次比较，返回下式的结果：</li>
</ol>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">{{if eq true .Var1 .Var2 .Var3}}{{end}}
# 效果等同于：
arg1==arg2 || arg1==arg3 || arg1==arg4 ...
</code></pre>
<ol start="2">
<li>ne: 不等，即 arg1 != arg2。</li>
<li>lt: 小于，即 arg1 &lt; arg2。</li>
<li>le: 小于等于，即 arg1 &lt;= arg2。</li>
<li>gt: 大于，即 arg1 &gt; arg2。</li>
<li>ge: 大于等于，即 arg1 &gt;= arg2。</li>
</ol>
<p><strong>判断的使用</strong>
格式：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">{{if pipeline}}{{end}}
{{if pipeline}}{{else}}{{if pipeline}}{{end}}{{end}}
{{if pipeline}}{{else if pipeline}}{{else}}{{end}}
</code></pre>
<p><strong>示例:</strong></p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 输出所有已停止的容器名称：
docker inspect --format &#x27;{{if ne 0.0 .State.ExitCode}}{{.Name}}{{end}}&#x27; $(docker ps -aq)
docker inspect --format &#x27;{{if ne 0.0 .State.ExitCode}}{{.Name}}{{else}}该容器还在运行{{end}}&#x27; $(docker ps -aq)
docker inspect --format &#x27;{{if ne 0.0 .State.ExitCode}}{{.Name}}{{else if .}}该容器还在运行{{end}}&#x27; $(docker ps -aq)
# 输出所有已停止或配置了 Restarting 策略的容器名称
docker inspect --format &#x27;{{if ne 0.0 .State.ExitCode}}{{.Name}}{{else if eq .State.Restarting true}}容器{{.Name}}配置了Restarting策略.{{else}}{{end}}&#x27; $(docker ps -aq)
</code></pre>
<p><strong>打印信息</strong>
docker --format 默认调用 go语言的 print 函数对模板中的字符串进行输出。而 go语言还有另外 2 种相似的内置函数，对比说明如下：
print：  将传入的对象转换为字符串并写入到标准输出中。如果后跟多个参数，输出结果之间会自动填充空格进行分隔。
println:  功能和 print 类似，但会在结尾添加一个换行符。也可以直接使用 {{println}} 来换行。
printf:   与 shell 等环境一致，可配合占位符用于格式化输出。</p>
<p>对比示例输出:</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &#x27;{{.State.Pid}}{{.State.ExitCode}}&#x27; $INSTANCE_ID
240390
docker inspect --format &#x27;{{print .State.Pid .State.ExitCode}}&#x27; $INSTANCE_ID
24039 0
docker inspect --format &#x27;{{.State.Pid}}{{println &quot; 从这换行&quot;}}{{.State.ExitCode}}&#x27; $INSTANCE_ID
24039 从这换行
docker inspect --format &#x27;{{printf &quot;Pid:%d ExitCode:%d&quot; .State.Pid .State.ExitCode}}&#x27; $INSTANCE_ID
Pid:24039 ExitCode:0
</code></pre>
<p><strong>管道</strong>
管道 即 pipeline ，与 shell 中类似，可以是上下文的变量输出，也可以是函数通过管道传递的返回值。
示例：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">{{.Con | markdown | addlinks}}
{{.Name | printf &quot;%s&quot;}}
</code></pre>
<p><strong>内置函数 len</strong>
内置函数 len 返回相应对象的长度。
示例：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &#x27;{{len .Name}}&#x27; $INSTANCE_ID
</code></pre>
<p><strong>Docker 增强模板及函数</strong>
Docker 基于 go模板的基础上，构建了一些内置函数。</p>
<p><strong>json</strong>
Docker 默认以字符串显示返回结果。而该函数可以将结果格式化为压缩后的 json 格式数据。
示例：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 获取 Config 字段对应的 json 数据
docker inspect --format=&#x27;{{json .Config}}&#x27; $INSTANCE_ID
</code></pre>
<p><strong>join</strong>
用指定的字符串将返回结果连接后一起展示。操作对象必须是字符串数组。
示例：</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container"># 输出容器配置的所有 Entrypoint 参数，以 &quot; , &quot; 分隔：
docker inspect --format &#x27;{{join .Config.Entrypoint &quot; , &quot;}}&#x27; $INSTANCE_ID
</code></pre>
<p><strong>lower</strong>
将返回结果中的字母全部转换为小写。操作对象必须是字符串。</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &quot;{{lower .Name}}&quot; $INSTANCE_ID
</code></pre>
<p><strong>upper</strong>
将返回结果中的字母全部转换为大写。操作对象必须是字符串。</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &quot;{{upper .Name}}&quot; $INSTANCE_ID
</code></pre>
<p><strong>title</strong>
将返回结果的首字母转换为大写。操作对象必须是字符串，而且不能是纯数字。</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &quot;{{title .State.Status}}&quot; $INSTANCE_ID
</code></pre>
<p><strong>split</strong>
使用指定分隔符将返回结果拆分为字符串列表。操作对象必须是字符串且不能是纯数字。同时，字符串中必须包含相应的分隔符，否则会直接忽略操作。</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">docker inspect --format &#x27;{{split .HostsPath &quot;&#x2F;&quot;}}&#x27; $INSTANCE_ID
</code></pre>
<p>============================常用docker inspect --format 输出示例========================</p>
<pre data-lang="container" class="language-container "><code class="language-container" data-lang="container">[root@node1 ~]# docker ps
CONTAINER ID        IMAGE                            COMMAND                  CREATED             STATUS              PORTS               NAMES
2ed603e52896        172.16.60.214:5000&#x2F;kevin_nginx   &quot;&#x2F;bin&#x2F;sh -c &#x27;&#x2F;usr&#x2F;...&quot;   13 minutes ago      Up 13 minutes                           docker-test111
24e6607534f1        172.16.60.214:5000&#x2F;kevin_nginx   &quot;&#x2F;bin&#x2F;sh -c &#x27;&#x2F;usr&#x2F;...&quot;   13 minutes ago      Up 13 minutes                           docker-test11
19be6b264b6e        172.16.60.214:5000&#x2F;kevin_nginx   &quot;&#x2F;bin&#x2F;sh -c &#x27;&#x2F;usr&#x2F;...&quot;   13 minutes ago      Up 13 minutes                           docker-test1

1) 获取容器的IP (后面使用容器名或容器ID都可以)
[root@node1 ~]# docker inspect --format=&#x27;{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}&#x27; $(docker ps -q)
192.10.160.193
173.20.19.128
17.16.10.128

[root@node1 ~]# docker inspect --format=&#x27;{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}&#x27; docker-test1
17.16.10.128

2) 获取容器的MAC地址
[root@node1 ~]# docker inspect --format=&#x27;{{range .NetworkSettings.Networks}}{{.MacAddress}}{{end}}&#x27; $(docker ps -a -q)
ee:ee:ee:ee:ee:ee
ee:ee:ee:ee:ee:ee
ee:ee:ee:ee:ee:ee

[root@node1 ~]# docker inspect --format=&#x27;{{range .NetworkSettings.Networks}}{{.MacAddress}}{{end}}&#x27; docker-test1
ee:ee:ee:ee:ee:ee

3) 获取容器Name
[root@node1 ~]# docker inspect --format=&#x27;{{.Name}}&#x27; $(docker ps -aq)
&#x2F;docker-test111
&#x2F;docker-test11
&#x2F;docker-test1
&#x2F;calico-node

[root@node1 ~]# docker inspect --format=&#x27;{{.Name}}&#x27; $(docker ps -aq)|cut -d&quot;&#x2F;&quot; -f2
docker-test111
docker-test11
docker-test1

[root@node1 ~]# docker inspect --format=&#x27;{{.Name}}&#x27; docker-test1
&#x2F;docker-test1

[root@node1 ~]# docker inspect --format=&#x27;{{.Name}}&#x27; docker-test1|cut -d&quot;&#x2F;&quot; -f2
docker-test1

4) 获取容器Hostname
[root@node1 ~]# docker inspect --format &#x27;{{ .Config.Hostname }}&#x27; $(docker ps -q)
2ed603e52896
24e6607534f1
19be6b264b6e

[root@node1 ~]# docker inspect --format &#x27;{{ .Config.Hostname }}&#x27; docker-test1
19be6b264b6e

5) Hostname Name IP
[root@node1 ~]# docker inspect --format &#x27;Hostname:{{ .Config.Hostname }}  Name:{{.Name}} IP:{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}&#x27; $(docker ps -q)
Hostname:2ed603e52896  Name:&#x2F;docker-test111 IP:192.10.160.193
Hostname:24e6607534f1  Name:&#x2F;docker-test11 IP:173.20.19.128
Hostname:19be6b264b6e  Name:&#x2F;docker-test1 IP:17.16.10.128

[root@node1 ~]# docker inspect --format &#x27;Hostname:{{ .Config.Hostname }}  Name:{{.Name}} IP:{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}&#x27; docker-test1
Hostname:19be6b264b6e  Name:&#x2F;docker-test1 IP:17.16.10.128

6) 获取容器的log path
[root@node1 ~]# docker inspect --format=&#x27;{{.LogPath}}&#x27; `docker ps -a -q`
[root@node1 ~]# docker inspect --format=&#x27;{{.LogPath}}&#x27; docker-test1

7) 获取容器的image镜像名称
[root@node1 ~]# docker inspect --format=&#x27;{{.Config.Image}}&#x27; `docker ps -a -q`
172.16.60.214:5000&#x2F;kevin_nginx
172.16.60.214:5000&#x2F;kevin_nginx
172.16.60.214:5000&#x2F;kevin_nginx
quay.io&#x2F;calico&#x2F;node:v2.6.10
[root@node1 ~]# docker inspect --format=&#x27;{{.Config.Image}}&#x27; docker-test1
172.16.60.214:5000&#x2F;kevin_nginx

8) 获取容器绑定的端口(port bindings)
[root@node1 ~]# docker inspect --format=&#x27;{{range $p, $conf := .NetworkSettings.Ports}} {{$p}} -&gt; {{(index $conf 0).HostPort}} {{end}}&#x27; `docker ps -a -q`
[root@node1 ~]# docker inspect --format=&#x27;{{range $p, $conf := .NetworkSettings.Ports}} {{$p}} -&gt; {{(index $conf 0).HostPort}} {{end}}&#x27; docker-test1
9) 获取service实例的Ip
[root@swarm-manager-node ~]# docker service ps my-test
ID                    NAME       IMAGE                                                   NODE                         DESIRED   STATE  CURRENT STATE    ERROR  PORTS
t71gqufekv2o  my-test.1  172.16.60.214:5000&#x2F;kevin_nginx:latest  swarm-node2              Running    Running 16 seconds ago
9cuq2yf10d60 my-test.2  172.16.60.214:5000&#x2F;kevin_nginx:latest  swarm-manager-node  Running   Running 16 seconds ago
srt2yo817kpv  my-test.3  172.16.60.214:5000&#x2F;kevin_nginx:latest  swarm-node1               Running    Running 16 seconds ago
[root@swarm-manager-node ~]# docker inspect ` docker service ps my-test -q` --format &#x27;{{range .NetworksAttachments}}{{.Addresses}}{{end}}&#x27; | cut -d &#x27;[&#x27; -f2|cut -d &#x27;]&#x27; -f1
10.255.0.7&#x2F;16
10.255.0.8&#x2F;16
10.255.0.9&#x2F;16
10) 获取service示例的container ID  (获取的是ID的全称,一般只要取ID前面12个字符就可以了)
[root@swarm-manager-node ~]# docker inspect ` docker service ps my-test -q` --format &#x27;{{ .Status.ContainerStatus.ContainerID }}&#x27;
c6c18a74a465163757fe928fec9e633223200f92d1c59e5d2d77eabfaa5ae93a
5f558bb014ea3d3eef5c8d4bd70e2e3048d7fc6725538303be960ac658d93b32
dde578bf60190a63ed5c8c4a9f5a3044566a159e8debe8717342e263c6199f26
</code></pre>

      <nav>
        <div>
          <a href="https://moxuetianya.github.io/obsidian/debugging-with-gdb-examining-data/">&#8249; Debugging with gdb - Examining Data</a>
        </div>
        <div>
          <a href="https://moxuetianya.github.io/obsidian/pve开启硬件直通命令/"> pve开启硬件直通命令 &#8250;</a>
        </div>
      </nav>
    </article>

    <div class="sblock">
      <div class="blockdiv sticky">
        <a class="b s150" href="#">索引</a>
        <div>
          <a href="#dockerge-shi-hua-shu-chu-ming-ling-docker-inspect-format-xue-xi-bi-ji">Docker格式化输出命令:&quot;docker inspect --format&quot; 学习笔记</a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="c">
      <nav class="tpad"><div></div></nav>
      <p> &copy; <span id="year">2026</span> 墨雪天琊</p>
      <p>Powered by <a href="https://www.getzola.org/" target="_blank">Zola</a> & <a href="https://github.com/jieiku/abridge/" target="_blank">Abridge</a></p>
    </div>
  </footer><span class="topout">
<span class="topleft"> </span><a href="#" class="top" title="Back to Top"><i class="svgs svgh angu"></i></a>
</span>
</body>
</html>
